main
    md-content(layout-wrap layout="row" layout-xs="column" layout-padding)
        div(flex="30")
            ul
                li(ng-repeat="phone in phones")
                    {{phone.name}}
            md-button(ng-click="showMessage()").md-fab.md-hue-1
                md-icon(md-svg-icon="check")
                md-tooltip(md-direction="right") Menu
        div(flex="70")
            
        div(flex="100" ng-include="'/element/jade-blocks/side-bar.html'")
