div(flex="30")
    ul
        li(ng-repeat="phone in mc.phones")
            {{phone.name}}
    md-button(ng-click="mc.showMessage()").md-fab.md-hue-1
        md-icon(md-svg-icon="check")
        md-tooltip(md-direction="right") Menu
div(flex="70")
    img(src="/bower_components/material-design-icons/www\/images/icons-library.png" alt="" flex="100")    
