form(ng-submit="mc.loadCity()" name="form" flex="100" layout="row" layout-wrap layout-xs="row")#form
    md-button(type="submit") Показать погоду
    input(type="text" ng-model="mc.request")
div(flex="100")
    ul(ng-show="mc.cities.length")
        li(ng-repeat="city in mc.cities")
            h3 {{city.name}}
            img(src="http://openweathermap.org/img/w/{{city.weather[0].icon}}.png")
