section#etap.screen-2
    .wrapper
        .container
            .row
                .col-xs-12
                    .screen-2-title
                        span Как мы работаем
                    ul.bxslider
                        li
                            .col-xs-12.col-sm-4
                                img(src="/assets/img/s1.png")
                            .col-xs-12.col-sm-8
                                .bxslider-title 
                                    span Консультация
                                .bxslider-text 
                                    span Консультация имплантолога занимает от 15 минут до 1 часа #[br] (в случае, если снимки не были сделаны заранее).#[br]На консультации определяется возможность проведения#[br]имплантации и выбирается вид имплантата в зависимости #[br]от клинической ситуации.
                        li
                             .col-xs-12.col-sm-4
                                 img(src="/assets/img/s2.png")
                             .col-xs-12.col-sm-8
                                 .bxslider-title 
                                     span Операция
                                 .bxslider-text 
                                     span Сама установка имплантата занимает не более 20 минут, вся процедура вместе с введением анестезии и накладыванием швов занимает около 1 часа. За 1 прием может быть установлено 3-4 имплантата.                                        
                        li
                            .col-xs-12.col-sm-4
                                img(src="/assets/img/s3.png")
                            .col-xs-12.col-sm-8
                                .bxslider-title 
                                    span Снятие швов
                                .bxslider-text 
                                    span Через неделю после операции пациент приходит на прием для контрольного осмотра и снятия швов.                                        
                        li
                             .col-xs-12.col-sm-4
                                 img(src="/assets/img/s4.png")
                             .col-xs-12.col-sm-8
                                 .bxslider-title 
                                     span Контрольный осмотр через 1 месяц
                                 .bxslider-text 
                                     span Далее необходимо время на приживление имплантата. Через месяц пациент приходит для контрольного осмотра, после которого устанавливается формирователь десны.
                        li
                            .col-xs-12.col-sm-4
                                img(src="/assets/img/s5.png")
                            .col-xs-12.col-sm-8
                                .bxslider-title 
                                    span Ортопедический этап
                                .bxslider-text 
                                    span Через 2 недели после установки формирователя возможно начало ортопедического этапа: изготавливается слепок для подбора абатмента и изготовления коронки.
                        li
                            .col-xs-12.col-sm-4
                                img(src="/assets/img/s6.png")
                            .col-xs-12.col-sm-8
                                .bxslider-title 
                                    span Установка абатмента и коронки
                                .bxslider-text 
                                    span После готовности абатмента он фиксируется на имплантате при помощи винта. Поверх абатмента устанавливается коронка.
                    #bx-pager
                        a(data-slide-index="0", href="")
                            span.num 1
                            span.desc Консультация
                        a(data-slide-index="1", href="")
                            span.num 2
                            span.desc Операция
                        a(data-slide-index="2", href="")
                            span.num 3
                            span.desc Снятие швов
                        a(data-slide-index="3", href="")
                            span.num 4
                            span.desc Контрольный осмотр
                        a(data-slide-index="4", href="")
                            span.num 5
                            span.desc Ортопедический этап
                        a(data-slide-index="5", href="")
                            span.num 6
                            span.desc Установка абатмента#[br]и коронки
