section#etap.screen-2
    .wrapper
        .container
            .row
                .col-xs-12
                    .screen-2-title
                        span Как мы работаем
                    ul.bxslider
                        li
                            .col-xs-12.col-sm-4
                                img(src="/assets/img/s1.png")
                            .col-xs-12.col-sm-8
                                .bxslider-title 
                                    span Консультация
                                .bxslider-text 
                                    span Консультация имплантолога занимает от 15 минут до 1 часа #[br] (в случае, если снимки не были сделаны заранее).#[br]На консультации определяется возможность проведения#[br]имплантации и выбирается вид имплантата в зависимости #[br]от клинической ситуации.
                        li
                             .col-xs-12.col-sm-4
                                 img(src="/assets/img/s1.png")
                             .col-xs-12.col-sm-8
                                 .bxslider-title 
                                     span Консультация
                                 .bxslider-text 
                                     span Консультация имплантолога занимает от 15 минут до 1 часа #[br] (в случае, если снимки не были сделаны заранее).#[br]На консультации определяется возможность проведения#[br]имплантации и выбирается вид имплантата в зависимости #[br]от клинической ситуации.
                        li
                            .col-xs-12.col-sm-4
                                img(src="/assets/img/s1.png")
                            .col-xs-12.col-sm-8
                                .bxslider-title 
                                    span Консультация
                                .bxslider-text 
                                    span Консультация имплантолога занимает от 15 минут до 1 часа #[br] (в случае, если снимки не были сделаны заранее).#[br]На консультации определяется возможность проведения#[br]имплантации и выбирается вид имплантата в зависимости #[br]от клинической ситуации.
                        li
                             .col-xs-12.col-sm-4
                                 img(src="/assets/img/s1.png")
                             .col-xs-12.col-sm-8
                                 .bxslider-title 
                                     span Консультация
                                 .bxslider-text 
                                     span Консультация имплантолога занимает от 15 минут до 1 часа #[br] (в случае, если снимки не были сделаны заранее).#[br]На консультации определяется возможность проведения#[br]имплантации и выбирается вид имплантата в зависимости #[br]от клинической ситуации.
                        li
                            .col-xs-12.col-sm-4
                                img(src="/assets/img/s1.png")
                            .col-xs-12.col-sm-8
                                .bxslider-title 
                                    span Консультация
                                .bxslider-text 
                                    span Консультация имплантолога занимает от 15 минут до 1 часа #[br] (в случае, если снимки не были сделаны заранее).#[br]На консультации определяется возможность проведения#[br]имплантации и выбирается вид имплантата в зависимости #[br]от клинической ситуации.
                        li
                            .col-xs-12.col-sm-4
                                img(src="/assets/img/s1.png")
                            .col-xs-12.col-sm-8
                                .bxslider-title 
                                    span Консультация
                                .bxslider-text 
                                    span Консультация имплантолога занимает от 15 минут до 1 часа #[br] (в случае, если снимки не были сделаны заранее).#[br]На консультации определяется возможность проведения#[br]имплантации и выбирается вид имплантата в зависимости #[br]от клинической ситуации.
                    #bx-pager
                        a(data-slide-index="0", href="")
                            span.num 1
                            span.desc Консультация
                        a(data-slide-index="1", href="")
                            span.num 2
                            span.desc Операция
                        a(data-slide-index="2", href="")
                            span.num 3
                            span.desc Снятие швов
                        a(data-slide-index="3", href="")
                            span.num 4
                            span.desc Контрольный осмотр
                        a(data-slide-index="4", href="")
                            span.num 5
                            span.desc Ортопедический этап
                        a(data-slide-index="5", href="")
                            span.num 6
                            span.desc Установка абатмента#[br]и коронки
