section#accia.screen-1
    .wrapper
        .container
            .row
                .col-xs-12
                    .logo
                        a(href="/")
                            img(src="/assets/img/logo.png" alt="Логотип Интан")
                .clearfix
                .col-xs-12.col-sm-6.pull-right
                    img(src="/assets/img/tooth.png" alt="Акция").animated.fadeInRight.hidden-xs
                    img(src="/assets/img/tooth-mobile.png" alt="Акция").animated.fadeInRight.visible-xs
                    .consult.text-center.animated.bounceInDown
                        span Консультация#[br]имплантолога#[br]бесплатно
                    .clearfix
                    .star.hidden-xs.pull-right 
                        span #[sup *]Благодаря широкому ассортименту конструкций и материалов#[br]можно подобрать вариант, максимально соответствующий#[br]особенностям клинической ситуации. 
                .col-xs-12.col-sm-6.pull-left.animated.fadeInLeft
                    .screen-1-title
                        span Имплантат с установкой,#[br]по выгодной цене
                    .screen-1-text
                        span В стоимость входит имплантат Adin (Израиль)#[br]и операция по установке! Имплантаты —#[br]это самый современный способ зубного#[br]протезирования.
                    .star.visible-xs
                        span #[sup *]Благодаря широкому ассортименту конструкций и материалов#[br]можно подобрать вариант, максимально соответствующий#[br]особенностям клинической ситуации. 
                    .screen-1-price
                        span 12 900 #[i.fa.fa-rub]
                    .screen-1-btn
                        a(href="#write").fancybox
                            span Записаться на прием
                    .screen-1-hint
                        span Акция проходит с 01 марта по 30 апреля 2016 г.
                .clearfix
