section#address.screen-4
    .wrapper
        .container
            .row
                .col-xs-12
                    .screen-4-title
                        span МЫ ВСЕГДА РЯДОМ
                    .screen-4-subtitle
                        span У Нас уже 16 центров
                        br.visible-xs
                        br.visible-xs
                    .subway_map.hidden-xs
                        .sub_avtovo.wow.bounceInDown(style="bottom: 110px;left: 141px;", data-wow-delay="0s")
                            a(href="/kontacty/stachek_69a/" target="_blank" title="Проспект Стачек, д. 69 А")
                        .sub_mezhdunar.wow.bounceInDown(style="bottom: 103px;right: 277px;", data-wow-delay="0.1s")
                            a(href="/kontacty/slavy-buharestskaya-96/" target="_blank" title="ул. Бухарестская, дом 96")
                        .sub_bolshevik.wow.bounceInDown(style="bottom: 217px;right: 87px;", data-wow-delay="0.2s")
                            a(target="_blank" href="/kontacty/rossiyskiy_8/" title="Российский проспект, д. 8")
                        .sub_dibenko.wow.bounceInDown(style="bottom: 190px;right: 87px;", data-wow-delay="0.3s")
                            a(href="/kontacty/leningradskaya_3/" title="Ленинградская ул. 3" target="_blank")
                        .sub_ligov.wow.bounceInDown(style="bottom: 287px;right: 224px;", data-wow-delay="0.4s")
                            a(href="/kontacty/ligovskiy_125/" title="Лиговский проспект, 125" target="_blank")
                        .sub_ligov_obvod.wow.bounceInDown(style="bottom: 180px;right: 277px;", data-wow-delay="0.5s")
                            a(href="/kontacty/ligovskiy_125/" title="Лиговский проспект, 125" target="_blank")
                        .sub_pertograd.wow.bounceInDown(style="left: 258px;top: 201px;", data-wow-delay="0.6s")
                            a(href="/kontacty/bolshaya_pushkarskaya_41/" title="ул. Большая Пушкарская, дом 41" target="_blank")
                        .sub_grazhdan.wow.bounceInDown(style="right: 270px;top: 67px;", data-wow-delay="0.7s")
                            a(href="/kontacty/prosvescheniya_87_2/" title="пр. Просвещения, дом 87, к.2" target="_blank")
                        .sub_komendant.wow.bounceInDown(style="top: 94px;left: 130px;", data-wow-delay="0.8s")
                            a(href="/kontacty/komendantskiy_7_1/" title="пр. Комендантский, дом 7, к.1" target="_blank")
                        .sub_komendant2.wow.bounceInDown(style="top: 94px;left: 154px;", data-wow-delay="0.9s")
                            a(href="/kontacty/komendantskiy_42_1/" title="пр. Комендантский, дом 42, к. 1" target="_blank")
                        .sub_starder.wow.bounceInDown(style="top: 120px;left: 143px;", data-wow-delay="1s")
                            a(href="/kontacty/bogatyrskiy_51_1/" title="Богатырский пр., д. 51 кор.1" target="_blank")
                        .sub_voznesenskiy.wow.bounceInDown(style="left: 258px; top: 367px;", data-wow-delay="1.1s")
                            a(href="/kontacty/voznesenskiy_21/" title="Вознесенский пр., дом 21" target="_blank")
                        .sub_ozerki.wow.bounceInDown(style="top: 70px;left: 257px;", data-wow-delay="1.2s")
                            a(href="/kontacty/lunacharskogo_11_3/" title="Луначарского пр., дом 11, к.3" target="_blank")
                        .sub_prosvet.wow.bounceInDown(style="top: 41px;left: 257px;", data-wow-delay="1.3s")
                            a(href="/kontacty/lunacharskogo_11_3/" title="Луначарского пр., дом 11, к.3" target="_blank")
                        .sub_varshav.wow.bounceInDown(style="top: 590px;left: 258px;", data-wow-delay="1.4s")
                            a(href="/kontacty/varshavskaya_61_1/" title="Варшавская ул., д. 61 корп.1" target="_blank")
                        .sub_bolshoi.wow.bounceInDown(style="left: 30px;top: 275px;", data-wow-delay="1.5s")
                            a(href="/kontacty/bolshoy-pr-vo-d-18/" title="Большой пр. ВО, д.18" target="_blank")
                        .sub_novsmol.wow.bounceInDown(style="left: 3px;top: 250px;", data-wow-delay="1.6s")
                            a(href="/kontacty/novosmolenskaya-d-1/&quot;" title="Новосмоленская, д.1" target="_blank") 
                    .address-list.visible-xs
                        ul.list-unstyled
                            li 
                                .address-title
                                    a(href="/kontacty/komendantskiy_42_1/")
                                        span Комендантский пр., д. 42, корп. 1
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Комендантский проспект
                            li 
                                .address-title
                                    a(href="/kontacty/mira-ul-d-15-korp-1/")
                                        span Мира ул., д. 15, корп. 1
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Горьковская
                            li 
                                .address-title
                                    a(href="/kontacty/lunacharskogo_11_3/")
                                        span пр. Луначарского, д. 11, корп. 3
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Озерки
                                        li
                                            span Проспект Просвещения
                            li.hidden
                                .address-title
                                    a(href="/kontacty/slavy-buharestskaya-96/")
                                        span пр. Славы/Бухарестская ул., д. 96
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Международная
                            li.hidden 
                                .address-title
                                    a(href="/kontacty/ligovskiy_125/")
                                        span Лиговский пр., д. 125
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Лиговский проспект
                                        li
                                            span Обводный канал
                            li.hidden 
                                .address-title
                                    a(href="/kontacty/bogatyrskiy_51_1/")
                                        span Богатырский пр., д. 51, корп. 1
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Комендантский проспект
                                        li
                                            span Старая деревня
                            li.hidden 
                                .address-title
                                    a(href="/kontacty/rossiyskiy_8/")
                                        span Российский пр., д. 8
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Проспект Большевиков
                            li.hidden 
                                .address-title
                                    a(href="/kontacty/bolshaya_pushkarskaya_41/")
                                        span Большая Пушкарская ул., д. 41
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Петроградская
                            li.hidden 
                                .address-title
                                    a(href="/kontacty/varshavskaya_61_1/")
                                        span Варшавская ул., д. 61 корп.1
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Ленинский проспект
                                        li
                                            span Московская
                            li.hidden 
                                .address-title
                                    a(href="/kontacty/voznesenskiy_21/")
                                        span Вознесенский пр., д. 21
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Сенная
                                        li
                                            span Спасская
                                        li
                                            span Садовая
                            li.hidden 
                                .address-title
                                    a(href="/kontacty/prosvescheniya_87_2/")
                                        span пр. Просвещения, д. 87, корп. 2
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Гражданский проспект
                            li.hidden 
                                .address-title
                                    a(href="/kontacty/stachek_69a/")
                                        span пр. Стачек, д. 69 А
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Автово
                            li.hidden 
                                .address-title
                                    a(href="/kontacty/komendantskiy_7_1/")
                                        span Комендантский пр., д. 7, корп.1
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Комендантский проспект
                            li.hidden 
                                .address-title
                                    a(href="/kontacty/leningradskaya_3/")
                                        span Ленинградская ул., д. 3
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Улица Дыбенко
                            li.hidden 
                                .address-title
                                    a(href="/kontacty/bolshoy-pr-vo-d-18/")
                                        span Большой пр. ВО, д.18
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Спортивная 2
                            li.hidden 
                                .address-title
                                    a(href="/kontacty/novosmolenskaya-d-1/")
                                        span Новосмоленская, д.1
                                .address-metro
                                    ul.list-unstyled
                                        li
                                            span Приморская
                        .more.text-center
                            a(href="#")
                                span Загрузить еще
