section#address.screen-4
    .wrapper
        .container
            .row
                .col-xs-12
                    .screen-4-title
                        span МЫ ВСЕГДА РЯДОМ
                    .screen-4-subtitle
                        span У Нас уже 16 центров
                    .subway_map
                        .sub_avtovo
                            a(href="/kontacty/stachek_69a/" target="_blank" title="Проспект Стачек, д. 69 А")
                        .sub_mezhdunar(style="bottom: 103px;right: 277px;")
                            a(href="/kontacty/slavy-buharestskaya-96/" target="_blank" title="ул. Бухарестская, дом 96")
                        .sub_bolshevik
                            a(target="_blank" href="/kontacty/rossiyskiy_8/" title="Российский проспект, д. 8")
                        .sub_dibenko(style="bottom: 190px;right: 87px;")
                            a(href="/kontacty/leningradskaya_3/" title="Ленинградская ул. 3" target="_blank")
                        .sub_ligov
                            a(href="/kontacty/ligovskiy_125/" title="Лиговский проспект, 125" target="_blank")
                        .sub_ligov_obvod
                            a(href="/kontacty/ligovskiy_125/" title="Лиговский проспект, 125" target="_blank")
                        .sub_pertograd
                            a(href="/kontacty/bolshaya_pushkarskaya_41/" title="ул. Большая Пушкарская, дом 41" target="_blank")
                        .sub_grazhdan
                            a(href="/kontacty/prosvescheniya_87_2/" title="пр. Просвещения, дом 87, к.2" target="_blank")
                        .sub_komendant(style="top: 94px;left: 130px;")
                            a(href="/kontacty/komendantskiy_7_1/" title="пр. Комендантский, дом 7, к.1" target="_blank")
                        .sub_komendant2(style="top: 94px;left: 154px;")
                            a(href="/kontacty/komendantskiy_42_1/" title="пр. Комендантский, дом 42, к. 1" target="_blank")
                        .sub_starder
                            a(href="/kontacty/bogatyrskiy_51_1/" title="Богатырский пр., д. 51 кор.1" target="_blank")
                        .sub_voznesenskiy
                            a(href="/kontacty/voznesenskiy_21/" title="Вознесенский пр., дом 21" target="_blank")
                        .sub_ozerki(style="top: 70px;left: 257px;")
                            a(href="/kontacty/lunacharskogo_11_3/" title="Луначарского пр., дом 11, к.3" target="_blank")
                        .sub_prosvet(style="top: 41px;left: 257px;")
                            a(href="/kontacty/lunacharskogo_11_3/" title="Луначарского пр., дом 11, к.3" target="_blank")
                        .sub_varshav(style="top: 590px;left: 258px;")
                            a(href="/kontacty/varshavskaya_61_1/" title="Варшавская ул., д. 61 корп.1" target="_blank")
                        .sub_bolshoi(style="left: 30px;top: 275px;")
                            a(href="/kontacty/bolshoy-pr-vo-d-18/" title="Большой пр. ВО, д.18" target="_blank")
                        .sub_novsmol(style="left: 3px;top: 250px;")
                            a(href="/kontacty/novosmolenskaya-d-1/&quot;" title="Новосмоленская, д.1" target="_blank") 
