section#spec.screen-3
    .wrapper
        .container
            .row
                .col-xs-12
                    .screen-3-title
                        span Наши специалисты
                    ul.bxslider
                        li.col-xs-12.col-sm-3 
                            a(href="/personal/79147/")
                                img(src="/assets/img/doc-1.png")
                            .name.text-center Рад Камяр#[br]Фредович
                            .spec.text-center Кандидат медицинских наук, Главный врач центра на пр. Стачек, д. 69А
                            .text.text-center « Более чем за 15 лет работы врачи#[br]наших центров провели более#[br]50 000 операций по имплантации зубов »
                        li.col-xs-12.col-sm-3
                            a(href="/personal/79120/")
                                img(src="/assets/img/doc-2.png")
                            .name.text-center Теньков Сергей#[br]Николаевич
                            .spec.text-center Главный врач центра на Богатырском пр., д. 51, к. 1, Врач-хирург-имплантолог
                            .text.text-center « В работе используется самое#[br]современное в городе оборудование#[br]и материалы. Благодаря этому#[br]приживляемость имплантатов#[br]составляет 98% »
                        li.col-xs-12.col-sm-3
                            a(href="/personal/79170/")
                                img(src="/assets/img/doc-3.png")
                            .name.text-center Гасанов Гамид#[br]Гасанович
                            .spec.text-center Главный врач центра на Российском пр., д. 8, Врач-стоматолог-хирург-имплантолог
                            .text.text-center « В Центрах ИНТАН возможна#[br]гибкая система оплаты.#[br]Также благодаря банкам-партнерам#[br]предоставляется возможность лечения в кредит »
                        li.col-xs-12.col-sm-3
                            a(href="/personal/79172/")
                                img(src="/assets/img/doc-4.png")
                            .name.text-center Галямова Лилия#[br]Рафаильевна
                            .spec.text-center Главный врач центра на Лиговском пр., дом 125. Врач-стоматолог-терапевт-хирург-имплантолог-пародонтолог
                            .text.text-center « Более чем за 15 лет работы врачи#[br]наших центров провели более#[br]50 000 операций по имплантации зубов »
                    .clearfix
                    .all-spec.text-center     
                        br
                        a(href="/spb/personal/")           
                            span Все специалисты Интан
                            
