.vertex-block
    .container
        .row
            .col-xs-12
                .vertex-inner
                    - var items = []
                    - items.push({"icon":"/assets/img/icons/vertex1.png","title":"<p>Вопросы, ответы<br> и отзывы о продукции</p>","class":".hidden-xs"})
                    - items.push({"icon":"/assets/img/icons/vertex2.png","title":"<p>Конкурсы<br> и виторины</p>","class":".hidden-xs"})
                    - items.push({"icon":"/assets/img/icons/vertex3.png","title":"<p><strong>Вертекс</strong><br>клуб</p>","class":".hidden-xs"})
                    - items.push({"icon":"/assets/img/icons/vertex4.png","title":"<p>Тесты, гороскоп,<br>календарь событий</p>","class":".hidden-xs"})
                    - items.push({"icon":"/assets/img/icons/vertex5.png","title":"<p>Сейчас проходит:<br>конкурс коллажей</p>","class":".hidden-xs"})
                    each item, i in items
                        if (i === 2) 
                            .item.pull-left.text-center.vertex-center
                                img(src="#{item.icon}").icon
                                .title !{item.title}
                        else
                            .item.pull-left.text-center.hidden-xs
                                img(src="#{item.icon}").icon
                                .title !{item.title}
                    .clearfix
                    a(href="https://vertex-club.ru", target="_blank").vertex-enter Вступить в клуб
