section.writeNow.second
    .wrapper
        .container
            .row
                .col-xs-12.col-sm-6.wow.fadeInLeft
                    .writeNow-title-light
                        span имплантация зубов в ИНТАН 
                    .writeNow-title
                        span всего за 12 900 рублей
                    .writeNow-text
                        span В стоимость входит имплантат и операция#[br]по установке. Запишитесь на консультацию, #[br]чтобы узнать о возможности лечения.                
                    .clearfix
                    br
                    .writeNow-btn
                        a(href="#write").fancybox
                            span Записаться на прием
                .col-xs-12.col-sm-6
                    img(src="/assets/img/dedki.png").wow.fadeInRight
                    
