section.writeNow
    .wrapper
        .container
            .row
                .col-xs-12.col-sm-5.col-sm-offset-1.wow.fadeInLeft
                    .writeNow-title
                        span запишитесь прямо сейчас!
                .col-xs-12.col-sm-3.col-sm-offset-1.wow.fadeInRight
                    .writeNow-btn
                        a(href="#write").fancybox
                            span Записаться на прием
