@import "variables.styl"

.content
    min-height calc(100% - 260px)
    padding-bottom 20px
    position relative
    .page-bg
        position absolute
        width 100%
        height calc(100% + 40px)
        left 0
        top -40px
        background-position center top
        background-repeat no-repeat

@media only screen and (max-width: 992px)
    .content
        min-height calc(100% - 220px)
        .page-bg
            top 0
