@import "variables.styl"
.footer
	min-height 120px
	background-color $colorLightGray
	padding-top 30px
	.phone
		font-size 26px
		position relative
		top 15px
	.creater
		position relative
		top 15px

@media only screen and (max-width: 768px)
	.footer
		.logo-footer
			min-width 220px
		.phone
			top -25px
			&:after
				display block
				content "Телефон горячей линии"
				font-size 11px
				margin 0 auto
		.creater
			text-align center
			top -10px
		.text-left
			> img
				display block
				margin 0 auto
