@import "variables.styl"
.header
	padding-top 25px
	padding-bottom 35px
	background-color #fff
	.logo
		max-width 80%
		 img
			width 100%
			max-width 350px
	.slogan
		display block
		font-size 19px
		margin 10px 0px 0px 25px
	.phone
		margin-top -5px
		line-height 18px
		&--blue
			color $colorLightBlue
			font-size 21px
		small
			margin-bottom -5px
	.toggle-mobile-menu
		font-size 30px
		line-height 30px
		margin-top -5px
		margin-left 20px
		color $colorLightBlue
		cursor pointer
