@import "variables.styl"

.top-menu
    .nav
        padding-top 20px
        &__link
            font-family $ArimoFont
            text-transform uppercase
            font-weight bold
            font-size 14px
            display block
            
