
<main>
	<md-content layout-wrap="layout-wrap" layout="row" layout-xs="column" layout-padding="layout-padding">
		<div flex="30">
			<ul>
				<li ng-repeat="phone in phones">{{phone.name}}</li>
			</ul>
			<md-button ng-click="showMessage('Нажатие на кнопку!')">
				<md-icon md-svg-icon="/bower_components/material-design-icons/social/svg/design/ic_person_48px.svg"></md-icon>
				<md-tooltip md-direction="right">Play Music</md-tooltip>
			</md-button>
		</div>
		<div flex="70"></div>
		<div flex="100" ng-include="'/element/jade-blocks/side-bar.html'"></div>
	</md-content>
</main>