
<form ng-submit="mc.loadCity()" name="form" flex="100" layout="row" layout-wrap="layout-wrap" layout-xs="row" id="form">
	<md-button type="submit">Показать погоду в</md-button>
	<input type="text" ng-model="mc.request"/>
</form>
<div flex="100" class="weater">
	<ul ng-show="mc.cities.length">
		<li ng-repeat="city in mc.cities | unique:'name'" layout-padding="layout-padding" layout-wrap="layout-wrap" layout="row" layout-xs="row" class="weater__item">
			<div flex="70" flex-xs="100" layout="column" class="weater__content">
				<h3>{{city.name}}</h3>
				<div class="weater__icon"><img src="http://openweathermap.org/img/w/{{city.weather[0].icon}}.png"/></div>
				<div class="weater__temp"><span>{{(city.main.temp - 273.15).toFixed(2)}}<sup>o</sup>C</span></div>
			</div>
			<div flex="30" flex-xs="100" layout="row" class="weater__edit">
				<md-button ng-click="mc.saveItem(city)">Сохранить</md-button>
				<md-button ng-click="mc.deleteItem(city)">Удалить</md-button>
			</div>
		</li>
	</ul>
</div>