footer#footer.footer
	.wrapper
		.container
			.row
				.col-sm-12.col-md-6.left
					.social.clearfix
						a(href="http://vk.com", target="_blank")
							i.fa.fa-vk
						a(href="http://facebook.com", target="_blank")
							i.fa.fa-facebook
						a(href="http://ok.ru", target="_blank")
							i.fa.fa-odnoklassniki
					p ООО «ИНТАН», ИНН 7805105288 #[br] ОГРН 1027802717800
					p &copy; 1998 - 2014 «ИНТАН» 
					p О возможных противопоказаниях проконсультируйтесь #[br]с нашими специалистами.
					p Санкт-Петербург, пр. Стачек д.69, литер А
				.col-sm-12.col-md-5.col-md-offset-1.right
					.partners.clearfix
						a(href="http://www.adinrussia.ru/", target="_blank")
							img(src="/assets/img/adin.png")
						a(href="http://intan.ru", target="_blank")
							img(src="/assets/img/intan.png")
					p Лицензия на осуществление медицинской#[br]деятельности № 78-01-004451 выдана 28.02.2014#[br]комитетом по здравоохранению г. Санкт-Петербурга
					p 
						a(href="#")«Политика конфедециальности»
					.developer
						p.pull-left Разработка и продвижение сайта
						a(href="http://legion.info", target="_blank").pull-right
							img(src="/assets/img/legion.png", alt="Легион")
