footer#footer.footer
	.wrapper
		.container
			.row
				.col-xs-12.col-md-4.text-left
					img(src="/assets/img/logo-smale.png").logo-footer
					br
					br
					.copyright.hidden-xs
						|&copy; 2005&mdash;2016
						br
						|Все права защищены
				.col-xs-12.col-md-4.text-center
					strong.phone
						|8 800 100-50-50
				.col-xs-12.col-md-4.text-right
					.creater
						|Создание сайта &nbsp;&nbsp;
						a(href="http://ralegion.info" target="_blank" rel="nofollow")
							img(src="/assets/img/legion-logo.png" alt="legion")
