meta(charset='UTF-8')
link(rel="shortcut icon", type="image/x-icon",  href="assets/img/favicon.ico")
meta(name="viewport", content="width=device-width, initial-scale=1")
title 
link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext,cyrillic', rel='stylesheet', type='text/css')
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css")
link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css")
link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.css")
link(href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css",rel="stylesheet")
link(rel='stylesheet', href='/assets/css/css.css')
//if lt IE 9
	script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
	script(src='//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
