header#header.header(layout-wrap layout="row"  layout-align="end center" layout-padding)
    div(hide-gt-xs)
        md-button(ng-click="mc.toogleSideNav()" aria-label="Menu").md-fab
            md-icon(md-svg-icon="menu")
    md-sidenav(flex md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')").md-sidenav-top
        h1 Погодка

            
