header#header.header
	.wrapper
		.container
			.row
				ul.col-sm-8.list-inline.hidden-xs
					li
						a(href="#accia").active 
							span Акция
					li
						a(href="#etap")
							span Этапы имплантации
					li
						a(href="#spec")
							span Наши специалисты 
					li
						a(href="#address")
							span Адреса центров
				.col-xs-12.col-sm-4.contact.text-center
					.phone
						span +7 (812) 777 02 02	
					.call
						a(href="#write").fancybox
							span Заказать звонок
					.mobile-menu-toggle.visible-xs
						i.fa.fa-bars
section.mobile-menu
	.wrapper
		.container
			.row
				ul.col-xs-12.list-unstyled
					li
						a(href="#accia").active 
							span Акция
					li
						a(href="#etap")
							span Этапы имплантации
					li
						a(href="#spec")
							span Наши специалисты 
					li
						a(href="#address")
							span Адреса центров
				.mobile-menu-toggle
					i.fa.fa-bars		
