header#header.header
	.wrapper
		.container
			.row
				.col-md-12
					.header-top
						.pull-left.logo
							a(href="/")
								img(src="/assets/img/logo.png" alt="Логотип Гинокомфорт")
						.pull-left.hidden-xs.hidden-sm
							strong.slogan.text-center
								Деликатное решение женских проблем
						.pull-right.visible-xs.visible-sm.toggle-mobile-menu
							i.fa.fa-bars
						.pull-right.text-right.phone.hidden-xs
							small
								Телефон горячей линии
							br
							strong.phone--blue 8 800 100-50-50
						
