doctype html
html(ng-app="myApp")
	head
		include head.jade
	body(ng-cloak ng-controller="mainController" layout="column" layout-align="space-between stretch")
			include header
			block content 
			include footer
			include scripts
