doctype html
html(ng-app="myApp")
	head
		include head.jade
	body(ng-cloak ng-controller="mainController")
			include header
			section#content.content 
				.wrapper
					block content 
			include footer
			include scripts
