//- layout.jade
<!DOCTYPE html>
html
	head
		include head.jade
	body
			include header
			include /element/jade-blocks/screen-1
			include /element/jade-blocks/screen-2
			include footer
			include modals
			include scripts
