<!-- import scripts -->
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
script(src="/assets/js/todo.js")
script(src="/assets/js/test.js")
//- script(src="/assets/js/lib/jquery.min.js")

//- script(src="/assets/js/libs/owl.carousel2/owl.carousel.min.js")
//- 
//- script(src="/assets/js/libs/inputmask/inputmask.js")
//- script(src="/assets/js/libs/inputmask/jquery.inputmask.js")
//- 
//- script(src="/assets/js/libs/fancybox/jquery.fancybox.pack.js")
//- 
//- script(src="/assets/js/helper-page.js")
