script(type="text/template")#item-template.
    <p><%= name %></p>
// bower:js
// endbower
script(src="/assets/js/models/video-item.js")
script(src="/assets/js/collections/video-list.js")
script(src="/assets/js/layout/layout.js")
script(src="/assets/js/views/video-view.js")
script(src="/assets/js/app.js")
