//- подключаем шаблон
extends /layouts/layout.jade


//- Описывам контен
//content start
block content
	include /element/jade-blocks/slider.jade
	include /element/jade-blocks/problem-block.jade
	include /element/jade-blocks/anons-block.jade
	.container
		.row
			.col-md-4.hidden-xs
				include /element/jade-blocks/accia-widget.jade
			.col-md-8
				include /element/jade-blocks/about-series.jade
	include /element/jade-blocks/vertex-block.jade 
