@font-face {
  font-family: 'PFDinReqular';
  src: url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.eot");
  src: url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/pfdin/pfdintextcomppro-regular_1-webfont.woff2") format('woff2'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.woff") format('woff'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.ttf") format('truetype'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_promedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinMedium';
  src: url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.eot");
  src: url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.woff2") format('woff2'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.woff") format('woff'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.ttf") format('truetype'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
html,
body {
  height: 100%;
  color: #292929;
  font-family: 'Open Sans', sans-serif;
}
body {
  padding-top: 50px;
}
.fancybox-opened {
  z-index: 9999;
}
@media (max-width: 768px) {
  body {
    padding-top: 100px;
  }
}
@font-face {
  font-family: 'PFDinReqular';
  src: url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.eot");
  src: url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/pfdin/pfdintextcomppro-regular_1-webfont.woff2") format('woff2'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.woff") format('woff'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.ttf") format('truetype'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_promedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinMedium';
  src: url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.eot");
  src: url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.woff2") format('woff2'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.woff") format('woff'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.ttf") format('truetype'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
.header {
  height: 50px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: #94c11f;
  color: #fff;
  position: fixed;
  z-index: 9999;
  top: 0px;
}
.header a {
  color: inherit;
  border-bottom: 1px solid;
  text-decoration: none;
}
.header a:hover {
  border-bottom: 0px;
}
.header a.active {
  font-weight: bold;
  border-bottom: 0px;
}
.header ul {
  font-size: 16px;
}
.header ul li {
  margin-right: 40px;
  padding-top: 13px;
}
.header .contact {
  height: 50px;
  background-color: #2ba4d8;
  padding: 0 25px;
}
.header .contact > .phone {
  margin-top: 10px;
  float: right;
}
.header .contact > .call {
  margin-top: 15px;
  float: left;
}
.header .contact > .call a {
  text-decoration: none;
  border-bottom: 1px dashed;
  margin-top: 13px;
}
.header .phone {
  font-size: 22px;
  font-family: 'PFDinMedium', sans-serif;
}
.header .mobile-menu-toggle {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 35px;
  cursor: pointer;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: -430px;
  background-color: #f2f2f2;
  color: #000;
  font-size: 18px;
  padding-bottom: 200px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.mobile-menu.active {
  top: 0px;
}
.mobile-menu li {
  margin-top: 30px;
}
.mobile-menu a {
  color: inherit;
  text-decoration: underline;
}
.mobile-menu a.active {
  font-weight: bold;
}
.mobile-menu .mobile-menu-toggle {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 35px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header ul li {
    margin-right: 10px;
    font-size: 12px;
  }
  .header .contact > .phone {
    font-size: 17px;
    margin-top: 13px;
  }
}
@media (max-width: 960px) {
  .header .contact > .phone {
    font-size: 13px;
  }
  .header .contact > .call {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .header .contact {
    height: 100px;
  }
  .header .contact > .phone,
  .header .contact > .call {
    float: none;
    text-align: left;
    width: calc(100% + 50px);
    margin-left: -25px;
    padding-left: 25px;
  }
  .header .contact > .phone {
    font-size: 24px;
  }
  .header .contact > .call {
    background-color: #94c11f;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
  }
}
@font-face {
  font-family: 'PFDinReqular';
  src: url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.eot");
  src: url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/pfdin/pfdintextcomppro-regular_1-webfont.woff2") format('woff2'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.woff") format('woff'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.ttf") format('truetype'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_promedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinMedium';
  src: url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.eot");
  src: url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.woff2") format('woff2'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.woff") format('woff'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.ttf") format('truetype'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
.screen-1 {
  position: relative;
  overflow: hidden;
}
.screen-1 .logo {
  margin-top: 45px;
}
.screen-1 .pull-right {
  position: relative;
}
.screen-1 .consult {
  position: absolute;
  right: 65px;
  top: 20px;
  background-color: #94c11f;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  color: #fff;
  font-size: 13px;
  padding-top: 35px;
}
.screen-1 .star {
  font-size: 12px;
}
.screen-1 .star.hidden-xs {
  margin-right: 25px;
}
.screen-1-title,
.screen-2-title,
.screen-3-title,
.screen-4-title {
  font-size: 34px;
  font-family: 'PFDinReqular', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 60px;
}
.screen-1-text {
  font-size: 18px;
  font-family: 'PFDinReqular', sans-serif;
  margin-top: 25px;
}
.screen-1-price {
  font-size: 100px;
  font-family: 'PFDinMedium', sans-serif;
  text-transform: uppercase;
}
.screen-1-price i {
  font-size: 85px;
}
.screen-1-btn a,
.writeNow-btn a,
.form .btn {
  background-color: #2ba4d8;
  padding: 15px 25px;
  font-size: 18px;
  font-family: 'PFDinReqular', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}
.screen-1-btn a:hover,
.writeNow-btn a:hover,
.form .btn:hover {
  background-color: #53ccff;
  text-decoration: none;
}
.screen-1-hint {
  font-size: 11px;
  color: #53ccff;
  margin-top: 20px;
}
.screen-1.twins .girl {
  position: relative;
  right: 130px;
}
.screen-1.twins .consult {
  left: 150px;
}
.screen-1.twins .screen-1-text {
  margin-top: 0px;
}
.screen-1.twins .screen-1-btn a {
  font-size: 20px;
}
.screen-1.twins .girl-mobile {
  position: relative;
  right: -15px;
  margin-bottom: -30px;
}
.screen-2-title,
.screen-3-title,
.screen-4-title {
  display: block;
  margin: 90px auto 30px;
  text-align: center;
  font-size: 44px;
}
.screen-2 .bxslider {
  opacity: 0;
}
.screen-2 .bxslider-title {
  font-family: 'PFDinReqular', sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
}
.screen-2 .bxslider-text {
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
}
.screen-3-title,
.screen-4-title {
  margin-top: 60px;
}
.screen-3 .bx-wrapper {
  margin: 0 auto;
  min-width: 100%;
}
.screen-3 .bx-wrapper .name {
  font-family: 'PFDinReqular', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px auto;
  display: block;
}
.screen-3 .bx-wrapper .spec {
  font-size: 12px;
  font-weight: lighter;
  color: #8e8e8e;
  margin-bottom: 20px;
}
.screen-3 .bx-wrapper .text {
  font-size: 13px;
  font-weight: lighter;
}
.screen-4-subtitle {
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  font-family: 'PFDinReqular', sans-serif;
  margin-top: -20px;
}
.subway_map {
  background: url("http://intan.ru/images/metromap.png") no-repeat scroll 0 0 transparent;
  height: 688px;
  position: relative;
  width: 660px;
  z-index: 1;
  margin: auto;
}
.subway_map div {
  background: url("/assets/img/sprite.png") 0px 0px no-repeat;
  display: block;
  height: 24px;
  position: absolute;
  width: 25px;
  z-index: 2;
  margin-left: 0px;
  margin-top: 1px;
}
.subway_map div a {
  display: block;
  height: 100%;
  width: 100%;
}
.address-list > ul {
  counter-reset: item;
}
.address-list > ul > li {
  position: relative;
  padding: 30px 0px 30px 25px;
  border-top: 1px solid #ececec;
}
.address-list > ul > li:before {
  content: counter(item) '.';
  counter-increment: item;
  position: absolute;
  left: 0px;
  top: 27px;
  color: #94c11f;
  font-family: 'PFDinReqular', sans-serif;
  font-size: 22px;
}
.address-metro ul li {
  margin-top: 10px;
  position: relative;
}
.address-metro ul li:before {
  content: '';
  display: block;
  position: absolute;
  left: -20px;
  top: 3px;
  background: url("/assets/img/metro-icon.png") no-repeat 0 0;
  width: 16px;
  height: 16px;
}
.address-title {
  font-size: 18px;
  text-transform: uppercase;
}
.address-title a {
  color: inherit;
}
.more a {
  font-size: 18px;
  color: #2ba4d8;
  text-decoration: none;
  border-bottom: 1px dashed;
}
.more a:hover,
.more afocus {
  border: 0;
}
.bx-wrapper {
  border: 0;
  box-shadow: none;
  padding: 0px 115px;
}
.bx-wrapper .bx-prev {
  background: url("/assets/img/slide-arrows.png") no-repeat 0 0;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 100%;
}
.bx-wrapper .bx-next {
  background: url("/assets/img/slide-arrows.png") no-repeat 100% 0;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: 100% 100%;
}
.bx-wrapper .bx-controls-direction a {
  width: 25px;
  height: 47px;
}
#bx-pager {
  padding: 0px 115px;
}
#bx-pager a {
  float: left;
  width: 150px;
  text-align: center;
  position: relative;
}
#bx-pager a.active .num {
  background-color: #2ba4d8;
  border-color: #2ba4d8;
  color: #fff;
}
#bx-pager a:hover,
#bx-pager a:focus {
  text-decoration: none;
}
#bx-pager a:before {
  content: "";
  display: block;
  height: 1px;
  width: 90px;
  background-color: #94c11f;
  position: absolute;
  left: -45px;
  top: 20px;
}
#bx-pager a:first-child:before {
  display: none;
}
#bx-pager a .num {
  font-size: 30px;
  border-radius: 50%;
  font-family: 'PFDinReqular', sans-serif;
  font-weight: lighter;
  color: #000;
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #94c11f;
  text-align: center;
}
#bx-pager a .desc {
  font-size: 13px;
  color: #000;
  font-weight: lighter;
}
.writeNow {
  margin: 65px auto 0px;
  width: 100%;
  min-width: 100%;
  background-color: #94c11f;
  color: #fff;
  padding: 50px 250px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.writeNow.second {
  text-align: left;
}
.writeNow.second img {
  margin-bottom: -50px;
  max-width: 100%;
}
.writeNow-title,
.writeNow-title-light {
  font-size: 40px;
  font-family: 'PFDinReqular', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
.writeNow-title-light {
  line-height: 35px;
  font-family: 'PFDinReqular', sans-serif;
  font-weight: 100;
}
.writeNow-btn {
  margin-top: 10px;
}
@media (max-width: 1200px) {
  .screen-1 .consult {
    right: 50px;
  }
  .screen-1 .pull-right img {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .bx-wrapper {
    padding: 0 20px;
  }
  .bx-wrapper .bx-controls-direction a {
    top: 80px;
  }
  .bx-wrapper img {
    margin: 0 auto 20px;
  }
  #bx-pager {
    padding: 0 20px;
  }
  #bx-pager a {
    display: none;
    margin: 0 auto;
    float: none;
  }
  #bx-pager a:first-child:before {
    display: none !important;
  }
  #bx-pager a:last-child:after {
    display: none !important;
  }
  #bx-pager a.active {
    display: block;
  }
  #bx-pager a.active:before,
  #bx-pager a.active:after {
    background-color: #e9e9e9;
    width: 48px;
    height: 1px;
    left: -20px;
    top: 20px;
    content: '';
    display: block;
    position: absolute;
  }
  #bx-pager a.active:after {
    left: auto;
    right: -20px;
  }
  .writeNow {
    padding: 50px 0px;
  }
  .writeNow.second {
    text-align: center;
  }
  .writeNow.second img {
    margin-top: 20px;
  }
  .screen-1 .logo {
    text-align: center;
  }
  .screen-1 .consult {
    font-size: 11px;
    width: 100px;
    height: 100px;
    padding-top: 30px;
    right: 0px;
    position: absolute;
  }
  .screen-1-price {
    font-size: 85px;
  }
  .screen-1-price i {
    font-size: 70px;
  }
  .screen-1 .pull-right,
  .screen-1 .pull-left {
    text-align: center;
  }
  .screen-1 .pull-right img {
    margin-bottom: -30px;
  }
  .screen-1.twins .consult {
    left: 20px;
    top: 40px;
    font-size: 14px;
    width: 130px;
    height: 130px;
  }
  .screen-2 .bxslider-text,
  .screen-2 .bxslider-title {
    text-align: center;
  }
  .screen-2 .bxslider-text br,
  .screen-2 .bxslider-title br {
    display: none;
  }
}
@font-face {
  font-family: 'PFDinReqular';
  src: url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.eot");
  src: url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/pfdin/pfdintextcomppro-regular_1-webfont.woff2") format('woff2'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.woff") format('woff'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.ttf") format('truetype'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_promedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinMedium';
  src: url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.eot");
  src: url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.woff2") format('woff2'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.woff") format('woff'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.ttf") format('truetype'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
.form {
  width: 430px;
  max-width: 100%;
  padding-bottom: 25px;
}
.form input,
.form select,
.select2-container {
  width: 330px;
  max-width: 100%;
  display: block;
  margin: 10px auto 0;
  height: 37px;
  line-height: 35px;
  padding: 0px 10px;
  border: 1px solid #e1e1e1;
}
.form input:focus,
.form select:focus,
.select2-container:focus,
.form input:hover,
.form select:hover,
.select2-container:hover {
  border-color: #2ba4d8;
}
.form .btn {
  margin: 35px auto;
  display: block;
  width: 200px;
  padding: 10px 0px;
}
.select2-container {
  z-index: 9999;
}
.select2-container--default .select2-selection--single {
  border: 0;
  height: auto;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
}
.modals-title {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  font-family: 'PFDinReqular', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 0px;
  margin-bottom: 30px;
}
.fancybox-close {
  width: 18px;
  height: 17px;
  background: url("/assets/img/cross.png") no-repeat 0 0;
  right: 30px;
  top: 30px;
}
.fancybox-close:hover {
  background-position: 0 100%;
}
@media (max-width: 768px) {
  .fancybox-close {
    top: 10px;
    right: 10px;
  }
}
@font-face {
  font-family: 'PFDinReqular';
  src: url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.eot");
  src: url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/pfdin/pfdintextcomppro-regular_1-webfont.woff2") format('woff2'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.woff") format('woff'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.ttf") format('truetype'), url("/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_promedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinMedium';
  src: url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.eot");
  src: url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.woff2") format('woff2'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.woff") format('woff'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.ttf") format('truetype'), url("/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
.footer {
  background-color: #ebebeb;
  padding: 40px 0px;
}
.footer a {
  color: inherit;
  text-decoration: underline;
}
.footer .social {
  margin-bottom: 20px;
}
.footer .social .fa {
  font-size: 30px;
  float: left;
  margin-right: 8px;
  color: #ebebeb;
  background-color: #666;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.footer .social .fa:hover {
  background-color: #53ccff;
}
.footer .right {
  text-align: right;
}
.footer .partners {
  margin-bottom: 20px;
}
.footer .partners img {
  float: right;
  margin-left: 30px;
}
.footer .developer {
  margin-top: 30px;
}
.footer .developer p {
  margin-top: 15px;
}
@media (max-width: 960px) {
  .footer .left,
  .footer .right {
    text-align: left;
  }
  .footer .left {
    padding-bottom: 20px;
  }
  .footer .right {
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }
  .footer .partners img {
    float: left;
    margin-left: 0px;
    margin-right: 30px;
  }
  .footer .developer p {
    font-size: 0.8em;
  }
}
