@import url("https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic");
.top-menu .nav {
  padding-top: 20px;
}
.top-menu .nav__link {
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  display: block;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
html,
body {
  height: 100%;
}
