// this file is interface css.

// - var
@import "variables.styl"

// - fonts
// @import "../fonts/constantine/font.css"
@import url('https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic');
$ArimoFont = 'Arimo', sans-serif;

@import "/layout/top-menu.styl"
@import "../element/css-blocks/main.styl"


*
    margin 0
    padding 0
    outline 0

html,
body
    height 100%
