// this file is interface css.

// - var
@import "variables.styl"




*
    margin 0
    padding 0
    outline 0

html,
body
    height 100%

main
    height: 100%

[layout-padding]
    padding: 20px

md-sidenav
    background: transparent

@import "./layout/header.styl"
@import "./layout/footer.styl"
@import "../element/css-blocks/b_main_first_block.styl"
