// this file is interface css.

// - var
@import "variables.styl"

// - fonts
// @import "../fonts/constantine/font.css"


// normalize
// @import "layout/auto_normolize.styl"
//
//
@import "layout/inputs.styl"
@import "layout/header.styl"
@import "../element/css-blocks/top-menu.styl"
@import "layout/content.styl"
@import "../element/css-blocks/slider-block.styl"
@import "../element/css-blocks/problem-block.styl"
@import "../element/css-blocks/anons-block.styl"
@import "../element/css-blocks/accia-widget.styl"
@import "../element/css-blocks/about-series.styl"
@import "../element/css-blocks/vertex-block.styl"
@import "../element/css-blocks/error.styl"
@import "../element/css-blocks/news.styl"
@import "../element/css-blocks/product.styl"
@import "../element/css-blocks/product-once.styl"
@import "../element/css-blocks/siblings-widget.styl"
@import "../element/css-blocks/problem.styl"
@import "../element/css-blocks/consolt.styl"
@import "../element/css-blocks/map.styl"
@import "../element/css-blocks/buy.styl"
@import "../element/css-blocks/diagnostic.styl"
@import "layout/footer.styl"
// @import "layout/modal.styl"
// - lib
// @import "lib/owl-carousel/assets/owl.carousel.styl"
// @import "lib/owl-carousel/assets/owl.theme.default.styl"
// @import "lib/ion-range/ion.rangeSlider.styl"
// @import "lib/ion-range/ion.rangeSlider.skinSimple.styl"
// @import "lib/bootstrapdatepicker/css/bootstrap-datepicker.standalone.styl"
// @import "lib/fancybox/jquery.fancybox.styl"
// @import "sprite.styl"
// - element
// @import "../element/css-blocks/b_main_first_block.styl"
//- common file fot order

*
    margin 0
    padding 0
    outline 0

html,
body
    height 100%
    font-family 'PT Sans', sans-serif
    color $colorTextGray

body
    background #fff url($pathImg +'bg.png') repeat-x 0 0

h1
    font-size 36px
    line-height 40px
    font-weight bold
    a
        text-decoration none
        color inherit
        &:hover
            color $colorLightBlue
    sup
        top -0.3em
h2
    font-size 24px
    line-height 27px
    font-weight bold
    a
        @extend h1 a
h3
    font-size 19px
    line-height 27px
    font-weight bold
    a
        @extend h1 a
h4
    @extend h3
    font-weight normal
p
    font-size 16px
    line-height 19px
a
    color $colorLightBlue
    text-decoration underline
    &:hover
        text-decoration none
a:active, a:hover, a:focus
    outline 0px
img
    max-width 100%
.container
    max-width 945px

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9
    padding-left 10px
    padding-right 10px
@media only screen and (max-width: 768px)
    h1
        font-size 24px
        line-height 28px
        text-align center
    .container
        padding-left 0px
        padding-right 0px
    .row
        margin-left 0px
        margin-right 0px
