// var
@font-face
    font-family 'PFDinReqular'
    src url('/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.eot')
    src url('/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/pfdin/pfdintextcomppro-regular_1-webfont.woff2') format('woff2'),
         url('/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.woff') format('woff'),
         url('/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/pfdin/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_promedium') format('svg')
    font-weight normal
    font-style normal
@font-face
    font-family 'PFDinMedium'
    src url('/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.eot')
    src url('/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.woff') format('woff'),
         url('/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.ttf') format('truetype'),
         url('/assets/fonts/pfdin/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium') format('svg')
    font-weight normal
    font-style normal

//color
// var color
// $colorRed = #951304
// $colorDeepBlue = #465359 // not blue ;)
// $colorWhite = #fff
// $colorWiltedLeaves = #b58f63
// $colorGray = #808283
// $colorLightGray = #dbe1e6
// $colorSlideControl = #9D9D9D
// $colorPanel = #EDF0F2
// $colorFooter = #465359
// $screen-md-min = 940px
$colorGreen = #94c11f;
$colorLightBlue = #53ccff;
$colorBlue = #2ba4d8;
$colorGraffit = #292929;
$colorLightGray = #e1e1e1
//
$fontOpenSans = 'Open Sans', sans-serif
$fontPFDinReqular = 'PFDinReqular', sans-serif
$fontPFDinMedium = 'PFDinMedium', sans-serif
//
// //radius
// $borderRadius = 4px
//
// // img path
$pathImg = "/assets/img/"
