// var

//color
// var color
// $colorRed = #951304
// $colorDeepBlue = #465359 // not blue ;)
// $colorWhite = #fff
// $colorWiltedLeaves = #b58f63
// $colorGray = #808283
// $colorLightGray = #dbe1e6
// $colorSlideControl = #9D9D9D
// $colorPanel = #EDF0F2
// $colorFooter = #465359

$colorLightBlue = #1fbeca
$colorBlue = #009ddc
$colorLighGreen = #b5bf45
$colorTextGray = #6a747c
$colorFooter = #eef0ee
$bgLighterBlue = #f9fdfd
$bgOpacity = rgba(255,255,255,.5)
$colorGray = #d2d5d7
$colorLightGray = #eff0ec
$colorFiolet = #7766aa
$colorOrange = #e97b25
$bgLighGreen = #edf3d4
$crossColor = #cdd4d6
$colorTabs = #e1e2dd
$colorRed = #c60500
$colorFormReview = #f0f2ea
// $screen-md-min = 940px
//
// $fontFamilyMain = "Myriad Pro"
//
// //radius
// $borderRadius = 4px
//
// // img path
$pathImg = "/assets/img/"
