// var

//color
// var color
// $colorRed = #951304
// $colorDeepBlue = #465359 // not blue ;)
// $colorWhite = #fff
// $colorWiltedLeaves = #b58f63
// $colorGray = #808283
// $colorLightGray = #dbe1e6
// $colorSlideControl = #9D9D9D
// $colorPanel = #EDF0F2
// $colorFooter = #465359

// $screen-md-min = 940px
//
// $fontFamilyMain = "Myriad Pro"
//
// //radius
// $borderRadius = 4px
//
// // img path
$pathImg = "/assets/img/"
