
<footer id="footer" class="footer">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-4 text-left"><img src="/assets/img/logo-smale.png" class="logo-footer"/><br/><br/>
					<div class="copyright hidden-xs">&copy; 2005&mdash;2016<br/>Все права защищены</div>
				</div>
				<div class="col-xs-12 col-md-4 text-center"><strong class="phone">8 800 100-50-50</strong></div>
				<div class="col-xs-12 col-md-4 text-right">
					<div class="creater">Создание сайта &nbsp;&nbsp;<a href="http://ralegion.info" target="_blank" rel="nofollow"><img src="/assets/img/legion-logo.png" alt="legion"/></a></div>
				</div>
			</div>
		</div>
	</div>
</footer>