
<meta charset="UTF-8"/>
<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title> </title>
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"/>
<!-- bower:css-->
<link rel="stylesheet" href="..//bower_components/angular-material/angular-material.css" />
<link rel="stylesheet" href="..//bower_components/angular-material-icons/angular-material-icons.css" />
<!-- endbower-->
<link rel="stylesheet" href="/assets/css/css.css"/>
<style>
	[ng\:cloak],
	[ng-cloak],
	[data-ng-cloak],
	[x-ng-cloak],
	.ng-cloak,
	.x-ng-cloak {
	  display: none !important
	}
</style>
<!--if lt IE 9-->
<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>