
<header id="header" class="header">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-top">
						<div class="pull-left logo"><a href="/"><img src="/assets/img/logo.png" alt="Логотип Гинокомфорт"/></a></div>
						<div class="pull-left hidden-xs hidden-sm"><strong class="slogan text-center">Деликатное решение женских проблем</strong></div>
						<div class="pull-right visible-xs visible-sm toggle-mobile-menu"><i class="fa fa-bars"></i></div>
						<div class="pull-right text-right phone hidden-xs"><small>Телефон горячей линии</small><br/><strong class="phone--blue">8 800 100-50-50</strong></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>