<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title> </title>
		<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/assets/css/css.css"/>
		<!--if lt IE 9
		script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
		script(src='//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
		-->
	</head>
	<body>
		<header id="header" class="header">
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="header-top"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section id="content" class="content">
			<div class="wrapper">
			</div>
		</section>
		<footer id="footer" class="footer">
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-4"></div>
					</div>
				</div>
			</div>
		</footer><!-- import scripts -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script src="/assets/js/todo.js"></script>
		<script src="/assets/js/test.js"></script>
	</body>
</html>