
<nav id="navigation" class="navigation">
	<div class="wrapper">
		<div class="container">
			<ul class="top-menu list-unstyled clearfix">
				<li><a href="/product.html"><span>Продукция</span></a></li>
				<li><a href="/problem.html"><span>О проблеме</span></a></li>
				<li><a href="/consolt.html"><span>Консультация</span></a></li>
				<li><a href="/reviews.html"><span>Отзывы</span></a></li>
				<li><a href="/news.html"><span>Новости</span></a></li>
				<li><a href="/buy.html"><span>Где купить</span></a></li>
			</ul>
			<div class="search">
				<input placeholder="Поиск ..."/>
			</div>
		</div>
	</div>
</nav>